# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Logs
*.log

Dataset/cleaned_news.csv
Dataset/merged_news.csv